In [1]:
# Example 1: Pandas - Grouping and Aggregation
import pandas as pd

# Creating a DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'C', 'C', 'A'],
        'Value': [10, 20, 15, 25, 35, 45, 30]}
df = pd.DataFrame(data)

# Grouping by 'Category' and calculating the sum and mean
grouped = df.groupby('Category').agg({'Value': ['sum', 'mean']})

print('Grouped DataFrame with Aggregations:\n', grouped)

Grouped DataFrame with Aggregations:
          Value
           sum       mean
Category
A           55  18.333333
B           45  22.500000
C           80  40.000000

In [3]:
df

  Category  Value
0        A     10
1        B     20
2        A     15
3        B     25
4        C     35
5        C     45
6        A     30

In [6]:
df.groupby('Category').agg({'Value':['sum','mean']})

         Value
           sum       mean
Category
A           55  18.333333
B           45  22.500000
C           80  40.000000

In [7]:
# Example 2: Pandas - MultiIndex DataFrame Operations
import pandas as pd

# Creating a MultiIndex DataFrame
arrays = [['A', 'A', 'B', 'B'], [2020, 2021, 2020, 2021]]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'Year'))
data = [100, 150, 200, 250]
df = pd.DataFrame(data, index=index, columns=['Sales'])

# Accessing data in a MultiIndex DataFrame
sales_in_2020 = df.xs(2020, level='Year')

print('Sales Data in 2020:\n', sales_in_2020)

Sales Data in 2020:
           Sales
Category
A           100
B           200

In [8]:
df

               Sales
Category Year
A        2020    100
         2021    150
B        2020    200
         2021    250

In [9]:
index

MultiIndex([('A', 2020),
            ('A', 2021),
            ('B', 2020),
            ('B', 2021)],
           names=['Category', 'Year'])

In [10]:
# Example 3: Pandas - Using Apply with Lambda Functions
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Score': [85, 90, 95]}
df = pd.DataFrame(data)

# Applying a lambda function to modify scores
df['Adjusted Score'] = df['Score'].apply(lambda x: x + 5 if x < 90 else x)

print('DataFrame with Adjusted Scores:\n', df)

DataFrame with Adjusted Scores:
       Name  Score  Adjusted Score
0    Alice     85              90
1      Bob     90              90
2  Charlie     95              95

In [14]:
df['final Score']=df['Score'].apply(lambda x : x *2 if x>90 else x)

In [15]:
df

      Name  Score  Adjusted Score  final Score
0    Alice     85              90           85
1      Bob     90              90           90
2  Charlie     95              95          190

In [16]:
# Example 4: Pandas - Merging DataFrames with Different Keys
import pandas as pd

# Creating two DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'Emp_ID': [2, 3, 4], 'Department': ['HR', 'Finance', 'IT']})

# Merging with different keys
merged_df = pd.merge(df1, df2, left_on='ID', right_on='Emp_ID', how='outer')

print('Merged DataFrame:\n', merged_df)

Merged DataFrame:
     ID     Name  Emp_ID Department
0  1.0    Alice     NaN        NaN
1  2.0      Bob     2.0         HR
2  3.0  Charlie     3.0    Finance
3  NaN      NaN     4.0         IT

In [17]:
df1

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

In [19]:
merge2 = pd.merge(df1,df2,left_on='ID',right_on='Emp_ID')

In [20]:
merge2

   ID     Name  Emp_ID Department
0   2      Bob       2         HR
1   3  Charlie       3    Finance

In [21]:
# Example 5: Pandas - Handling Missing Values with Custom Functions
import pandas as pd
import numpy as np

# Creating a DataFrame with missing values
data = {'Name': ['Alice', 'Bob', np.nan, 'David'], 'Age': [25, np.nan, 35, 40]}
df = pd.DataFrame(data)

# Filling missing values using a custom function
df['Name'].fillna('Unknown', inplace=True)
df['Age'].fillna(df['Age'].median(), inplace=True)

print('DataFrame after Handling Missing Values:\n', df)

DataFrame after Handling Missing Values:
       Name   Age
0    Alice  25.0
1      Bob  35.0
2  Unknown  35.0
3    David  40.0

In [ ]:
df

In [22]:
# Example 6: Pandas - Pivoting DataFrames
import pandas as pd

# Creating a DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-01', '2023-01-02'],
        'City': ['NY', 'NY', 'LA', 'LA'],
        'Sales': [200, 250, 300, 400]}
df = pd.DataFrame(data)

# Pivoting the DataFrame
pivot_df = df.pivot(index='Date', columns='City', values='Sales')

print('Pivoted DataFrame:\n', pivot_df)

Pivoted DataFrame:
 City         LA   NY
Date
2023-01-01  300  200
2023-01-02  400  250

In [23]:
# Example 7: Pandas - Melting DataFrames
import pandas as pd

# Creating a DataFrame
data = {'ID': [1, 2], 'Math': [90, 80], 'Science': [85, 88]}
df = pd.DataFrame(data)

# Melting the DataFrame
melted_df = pd.melt(df, id_vars=['ID'], value_vars=['Math', 'Science'], var_name='Subject', value_name='Score')

print('Melted DataFrame:\n', melted_df)

Melted DataFrame:
    ID  Subject  Score
0   1     Math     90
1   2     Math     80
2   1  Science     85
3   2  Science     88

In [24]:
df

   ID  Math  Science
0   1    90       85
1   2    80       88

In [25]:
# Example 8: Pandas - Time-based Indexing and Resampling
import pandas as pd

# Creating a time series DataFrame
date_range = pd.date_range(start='2023-01-01', periods=10, freq='D')
data = {'Sales': [100, 200, 150, 300, 250, 400, 300, 350, 300, 400]}
df = pd.DataFrame(data, index=date_range)

# Resampling to find weekly sales
weekly_sales = df.resample('W').sum()

print('Weekly Sales:\n', weekly_sales)

Weekly Sales:
             Sales
2023-01-01    100
2023-01-08   1950
2023-01-15    700

In [26]:
date_range

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [27]:
# Example 9: Pandas - Conditional Filtering with Multiple Conditions
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Score': [85, 70, 95, 60], 'Passed': [True, False, True, False]}
df = pd.DataFrame(data)

# Filtering with multiple conditions
filtered_df = df[(df['Score'] > 80) & (df['Passed'] == True)]

print('Filtered DataFrame:\n', filtered_df)

Filtered DataFrame:
       Name  Score  Passed
0    Alice     85    True
2  Charlie     95    True

In [28]:
# Example 10: Pandas - Creating Custom Categorical Data
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Score': [85, 70, 95, 60]}
df = pd.DataFrame(data)

# Creating a new column with categorical data
df['Performance'] = pd.cut(df['Score'], bins=[0, 70, 90, 100], labels=['Poor', 'Average', 'Excellent'])

print('DataFrame with Categorical Performance:\n', df)

DataFrame with Categorical Performance:
       Name  Score Performance
0    Alice     85     Average
1      Bob     70        Poor
2  Charlie     95   Excellent
3    David     60        Poor

In [29]:

# Example 11: Pandas - Rolling Window Calculations
import pandas as pd

# Creating a time series DataFrame
date_range = pd.date_range(start='2023-01-01', periods=10, freq='D')
data = {'Sales': [100, 200, 150, 300, 250, 400, 300, 350, 300, 400]}
df = pd.DataFrame(data, index=date_range)

# Calculating a rolling mean with a window of 3 days
df['Rolling Mean'] = df['Sales'].rolling(window=3).mean()

print('DataFrame with Rolling Mean:\n', df)

DataFrame with Rolling Mean:
             Sales  Rolling Mean
2023-01-01    100           NaN
2023-01-02    200           NaN
2023-01-03    150    150.000000
2023-01-04    300    216.666667
2023-01-05    250    233.333333
2023-01-06    400    316.666667
2023-01-07    300    316.666667
2023-01-08    350    350.000000
2023-01-09    300    316.666667
2023-01-10    400    350.000000

In [30]:
# Example 12: Pandas - Shift and Lagging Data
import pandas as pd

# Creating a DataFrame
data = {'Date': pd.date_range(start='2023-01-01', periods=5, freq='D'),
        'Temperature': [30, 32, 35, 33, 31]}
df = pd.DataFrame(data)

# Shifting data by one day to create a lag
df['Prev Day Temp'] = df['Temperature'].shift(1)

print('DataFrame with Shifted Data:\n', df)

DataFrame with Shifted Data:
         Date  Temperature  Prev Day Temp
0 2023-01-01           30            NaN
1 2023-01-02           32           30.0
2 2023-01-03           35           32.0
3 2023-01-04           33           35.0
4 2023-01-05           31           33.0

In [1]:

# Example 13: Pandas - Cumulative Sum and Product
import pandas as pd

# Creating a DataFrame
data = {'Sales': [100, 200, 150, 300, 250]}
df = pd.DataFrame(data)

# Calculating cumulative sum and product
df['Cumulative Sum'] = df['Sales'].cumsum()
df['Cumulative Product'] = df['Sales'].cumprod()

print('DataFrame with Cumulative Operations:\n', df)

DataFrame with Cumulative Operations:
    Sales  Cumulative Sum  Cumulative Product
0    100             100                 100
1    200             300               20000
2    150             450             3000000
3    300             750           900000000
4    250            1000        225000000000

In [ ]:
# Example 14: Pandas - Merging on Multiple Columns
import pandas as pd

# Creating two DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Year': [2020, 2021, 2021], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 1], 'Year': [2021, 2021, 2020], 'Score': [88, 92, 75]})

# Merging on multiple columns
merged_df = pd.merge(df1, df2, on=['ID', 'Year'], how='inner')

print('Merged DataFrame on Multiple Columns:\n', merged_df)

In [2]:
# Example 15: Pandas - Handling Outliers
import pandas as pd
import numpy as np

# Creating a DataFrame
data = {'Value': [10, 12, 14, 100, 15, 13, 12]}
df = pd.DataFrame(data)

# Identifying outliers using the IQR method
Q1 = df['Value'].quantile(0.25)
Q3 = df['Value'].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df['Value'] < (Q1 - 1.5 * IQR)) | (df['Value'] > (Q3 + 1.5 * IQR))]

print('Outliers:\n', outliers)

Outliers:
    Value
3    100

In [3]:
Q1

12.0

In [4]:
Q3

14.5

In [6]:
IQR*1.5

3.75

In [7]:
# Example 16: Pandas - Creating a Pivot Table with Multiple Aggregations
import pandas as pd

# Creating a DataFrame
data = {'City': ['NY', 'LA', 'NY', 'SF', 'LA'], 'Year': [2020, 2020, 2021, 2021, 2020], 'Sales': [100, 150, 200, 250, 300]}
df = pd.DataFrame(data)

# Creating a pivot table with multiple aggregations
pivot_table = pd.pivot_table(df, values='Sales', index='City', columns='Year', aggfunc=['sum', 'mean'])

print('Pivot Table with Multiple Aggregations:\n', pivot_table)

Pivot Table with Multiple Aggregations:
         sum          mean
Year   2020   2021   2020   2021
City
LA    450.0    NaN  225.0    NaN
NY    100.0  200.0  100.0  200.0
SF      NaN  250.0    NaN  250.0

In [8]:
# Example 17: Pandas - Using map() for Value Replacement
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Department': ['HR', 'IT', 'Finance']}
df = pd.DataFrame(data)

# Mapping departments to codes
department_map = {'HR': 1, 'IT': 2, 'Finance': 3}
df['Dept Code'] = df['Department'].map(department_map)

print('DataFrame with Mapped Values:\n', df)

DataFrame with Mapped Values:
       Name Department  Dept Code
0    Alice         HR          1
1      Bob         IT          2
2  Charlie    Finance          3

In [9]:

# Example 18: Pandas - Detecting Duplicates
import pandas as pd

# Creating a DataFrame with duplicate rows
data = {'ID': [1, 2, 2, 3, 4, 4], 'Value': [10, 20, 20, 30, 40, 40]}
df = pd.DataFrame(data)

# Detecting duplicates
duplicates = df[df.duplicated()]

print('Duplicate Rows:\n', duplicates)

Duplicate Rows:
    ID  Value
2   2     20
5   4     40

In [10]:
# Example 19: Pandas - Using Explode for Lists in Columns
import pandas as pd

# Creating a DataFrame with lists in a column
data = {'ID': [1, 2], 'Hobbies': [['Reading', 'Swimming'], ['Running', 'Cycling']]}
df = pd.DataFrame(data)

# Exploding the 'Hobbies' column
exploded_df = df.explode('Hobbies')

print('DataFrame after Exploding Lists:\n', exploded_df)

DataFrame after Exploding Lists:
    ID   Hobbies
0   1   Reading
0   1  Swimming
1   2   Running
1   2   Cycling

In [11]:
df

   ID              Hobbies
0   1  [Reading, Swimming]
1   2   [Running, Cycling]

In [12]:
# Example 20: Pandas - Using Rank to Rank Values
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Score': [85, 90, 78, 92]}
df = pd.DataFrame(data)

# Ranking scores in descending order
df['Rank'] = df['Score'].rank(ascending=False)

print('DataFrame with Ranked Scores:\n', df)

DataFrame with Ranked Scores:
       Name  Score  Rank
0    Alice     85   3.0
1      Bob     90   2.0
2  Charlie     78   4.0
3    David     92   1.0

In [13]:
# Example 21: Pandas - Using applymap for Element-wise Operations
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Applying an operation to each element in the DataFrame
df_transformed = df.applymap(lambda x: x**2)

print('DataFrame with Squared Values:\n', df_transformed)

DataFrame with Squared Values:
    A   B
0  1  16
1  4  25
2  9  36

C:\Users\user\AppData\Local\Temp\ipykernel_20672\1519817700.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_transformed = df.applymap(lambda x: x**2)

In [14]:
# Example 22: Pandas - Creating Dummy Variables
import pandas as pd

# Creating a DataFrame
data = {'City': ['NY', 'LA', 'SF', 'NY']}
df = pd.DataFrame(data)

# Creating dummy variables
dummies = pd.get_dummies(df['City'], prefix='City')

print('Dummy Variables DataFrame:\n', dummies)

Dummy Variables DataFrame:
    City_LA  City_NY  City_SF
0    False     True    False
1     True    False    False
2    False    False     True
3    False     True    False

In [15]:
# Example 23: Pandas - Query Method for Conditional Filtering
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Score': [85, 70, 95, 60]}
df = pd.DataFrame(data)

# Using query for filtering
filtered_df = df.query('Score > 80')

print('Filtered DataFrame using query:\n', filtered_df)

Filtered DataFrame using query:
       Name  Score
0    Alice     85
2  Charlie     95

In [16]:

# Example 24: Pandas - Assign Method for Adding Columns
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Score': [85, 90, 95]}
df = pd.DataFrame(data)

# Adding a new column using assign
df = df.assign(Grade=lambda x: ['A' if score >= 90 else 'B' for score in x['Score']])

print('DataFrame with Assigned Grade Column:\n', df)

DataFrame with Assigned Grade Column:
       Name  Score Grade
0    Alice     85     B
1      Bob     90     A
2  Charlie     95     A

In [ ]:
# Example 24: Pandas - Assign Method for Adding Columns
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Score': [85, 90, 95]}
df = pd.DataFrame(data)

# Adding a new column using assign
df = df.assign(Grade=lambda x: ['A' if score >= 90 else 'B' for score in x['Score']])

print('DataFrame with Assigned Grade Column:\n', df)

In [18]:
# Example 25: Pandas - Using Custom Functions with Groupby
import pandas as pd

# Creating a DataFrame
data = {'Category': ['A', 'A', 'B', 'B'], 'Value': [10, 20, 30, 40]}
df = pd.DataFrame(data)


# Applying a custom function with groupby
grouped_df = df.groupby('Category')['Value'].apply(lambda x: x.max() - x.min())

print('Custom Aggregation Result:\n', grouped_df)

Custom Aggregation Result:
 Category
A    10
B    10
Name: Value, dtype: int64

In [ ]:

# Example 25: Pandas - Using Custom Functions with Groupby
import pandas as pd

# Creating a DataFrame
data = {'Category': ['A', 'A', 'B', 'B'], 'Value': [10, 20, 30, 40]}
df = pd.DataFrame(data)

# Applying a custom function with groupby
grouped_df = df.groupby('Category')['Value'].apply(lambda x: x.max() - x.min())

print('Custom Aggregation Result:\n', grouped_df)

In [19]:
# Example 26: Pandas - DataFrame Info and Memory Usage
import pandas as pd

# Creating a DataFrame
data = {'A': range(1000), 'B': range(1000, 2000)}
df = pd.DataFrame(data)

# Displaying DataFrame info and memory usage
df_info = df.info(memory_usage='deep')

print('DataFrame Info and Memory Usage:', df_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       1000 non-null   int64
 1   B       1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB
DataFrame Info and Memory Usage: None

In [ ]:
# Example 26: Pandas - DataFrame Info and Memory Usage
import pandas as pd

# Creating a DataFrame
data = {'A': range(1000), 'B': range(1000, 2000)}
df = pd.DataFrame(data)

# Displaying DataFrame info and memory usage
df_info = df.info(memory_usage='deep')

print('DataFrame Info and Memory Usage:', df_info)

In [20]:

# Example 27: Pandas - Filtering with isin Method
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'City': ['NY', 'LA', 'SF', 'NY']}
df = pd.DataFrame(data)

# Filtering with isin
filtered_df = df[df['City'].isin(['NY', 'SF'])]

print('Filtered DataFrame with isin Method:\n', filtered_df)

Filtered DataFrame with isin Method:
       Name City
0    Alice   NY
2  Charlie   SF
3    David   NY

In [ ]:

# Example 27: Pandas - Filtering with isin Method
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'City': ['NY', 'LA', 'SF', 'NY']}
df = pd.DataFrame(data)

# Filtering with isin
filtered_df = df[df['City'].isin(['NY', 'SF'])]

print('Filtered DataFrame with isin Method:\n', filtered_df)

In [21]:
# Example 28: Pandas - Concatenating DataFrames
import pandas as pd

# Creating DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenating DataFrames
concat_df = pd.concat([df1, df2], ignore_index=True)

print('Concatenated DataFrame:\n', concat_df)

Concatenated DataFrame:
    A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [ ]:
# Example 28: Pandas - Concatenating DataFrames
import pandas as pd

# Creating DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenating DataFrames
concat_df = pd.concat([df1, df2], ignore_index=True)

print('Concatenated DataFrame:\n', concat_df)

In [22]:
# Example 29: Pandas - Sorting by Multiple Columns
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Score': [85, 70, 95, 85], 'Age': [25, 30, 35, 22]}
df = pd.DataFrame(data)

# Sorting by multiple columns
sorted_df = df.sort_values(by=['Score', 'Age'], ascending=[False, True])

print('Sorted DataFrame by Multiple Columns:\n', sorted_df)

Sorted DataFrame by Multiple Columns:
       Name  Score  Age
2  Charlie     95   35
3    David     85   22
0    Alice     85   25
1      Bob     70   30

In [ ]:
# Example 29: Pandas - Sorting by Multiple Columns
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Score': [85, 70, 95, 85], 'Age': [25, 30, 35, 22]}
df = pd.DataFrame(data)

# Sorting by multiple columns
sorted_df = df.sort_values(by=['Score', 'Age'], ascending=[False, True])

print('Sorted DataFrame by Multiple Columns:\n', sorted_df)

In [23]:
# Example 30: Pandas - Using style for DataFrame Styling
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Score': [85, 70, 95, 60]}
df = pd.DataFrame(data)

# Applying styles to highlight scores above 80
styled_df = df.style.applymap(lambda x: 'background-color: yellow' if isinstance(x, int) and x > 80 else '')

# Display the styled DataFrame (use .render() if exporting to HTML)
print('Styled DataFrame with Conditional Formatting')

Styled DataFrame with Conditional Formatting

C:\Users\user\AppData\Local\Temp\ipykernel_20672\4285358908.py:9: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  styled_df = df.style.applymap(lambda x: 'background-color: yellow' if isinstance(x, int) and x > 80 else '')

In [1]:
# Example 31: Pandas - Using explode() for Nested JSON Columns
import pandas as pd

# Creating a DataFrame with nested lists
data = {'ID': [1, 2], 'Hobbies': [['Reading', 'Swimming', 'Gaming'], ['Hiking', 'Drawing']]}
df = pd.DataFrame(data)

# Exploding the 'Hobbies' column
exploded_df = df.explode('Hobbies')

print('DataFrame after Exploding Nested JSON Column:\n', exploded_df)

DataFrame after Exploding Nested JSON Column:
    ID   Hobbies
0   1   Reading
0   1  Swimming
0   1    Gaming
1   2    Hiking
1   2   Drawing

In [2]:
# Example 32: Pandas - Using pipe() for Method Chaining
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Score': [85, 70, 95]}
df = pd.DataFrame(data)

# Custom function for modifying the DataFrame
def add_grade_column(df):
    df['Grade'] = df['Score'].apply(lambda x: 'A' if x >= 90 else 'B')
    return df

# Using pipe for method chaining
df = df.pipe(add_grade_column)

print('DataFrame after Using pipe():\n', df)

DataFrame after Using pipe():
       Name  Score Grade
0    Alice     85     B
1      Bob     70     B
2  Charlie     95     A

In [3]:
# Example 33: Pandas - MultiIndex Slicing
import pandas as pd

# Creating a MultiIndex DataFrame
arrays = [['A', 'A', 'B', 'B'], [2020, 2021, 2020, 2021]]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'Year'))
data = [100, 150, 200, 250]
df = pd.DataFrame(data, index=index, columns=['Sales'])

# Slicing the MultiIndex DataFrame
sliced_df = df.loc['A']

print('Sliced MultiIndex DataFrame:\n', sliced_df)

Sliced MultiIndex DataFrame:
       Sales
Year
2020    100
2021    150

In [4]:
df

               Sales
Category Year
A        2020    100
         2021    150
B        2020    200
         2021    250

In [5]:
# Example 34: Pandas - Adding a Prefix or Suffix to Column Names
import pandas as pd

# Creating a DataFrame
data = {'Math': [90, 80], 'Science': [85, 88]}
df = pd.DataFrame(data)

# Adding a prefix to column names
df_prefixed = df.add_prefix('Grade_')

# Adding a suffix to column names
df_suffixed = df.add_suffix('_Score')

print('DataFrame with Prefix:\n', df_prefixed)
print('DataFrame with Suffix:\n', df_suffixed)

DataFrame with Prefix:
    Grade_Math  Grade_Science
0          90             85
1          80             88
DataFrame with Suffix:
    Math_Score  Science_Score
0          90             85
1          80             88

In [6]:

# Example 35: Pandas - Using at and iat for Fast Scalar Access
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Accessing a single value using at and iat
value_at = df.at[1, 'A']
value_iat = df.iat[1, 0]

print('Value using at:', value_at)
print('Value using iat:', value_iat)

Value using at: 2
Value using iat: 2

In [7]:

# Example 36: Pandas - Renaming Index and Columns
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob'], 'Score': [85, 90]}
df = pd.DataFrame(data, index=['Row1', 'Row2'])

# Renaming index and columns
df_renamed = df.rename(index={'Row1': 'Student1', 'Row2': 'Student2'}, columns={'Score': 'Grade'})

print('Renamed DataFrame:\n', df_renamed)

Renamed DataFrame:
            Name  Grade
Student1  Alice     85
Student2    Bob     90

In [8]:
# Example 37: Pandas - Using query() with Variables
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Score': [85, 70, 95]}
df = pd.DataFrame(data)

# Using query() with variables
threshold = 80
filtered_df = df.query('Score > @threshold')

print('Filtered DataFrame with query() and Variables:\n', filtered_df)

Filtered DataFrame with query() and Variables:
       Name  Score
0    Alice     85
2  Charlie     95

In [9]:
# Example 38: Pandas - Creating Custom Aggregations with Groupby
import pandas as pd

# Creating a DataFrame
data = {'Category': ['A', 'A', 'B', 'B'], 'Value': [10, 20, 30, 40]}
df = pd.DataFrame(data)

# Using groupby with custom aggregation
custom_agg = df.groupby('Category').agg(max_value=('Value', 'max'), min_value=('Value', 'min'))

print('Custom Aggregation Result:\n', custom_agg)

Custom Aggregation Result:
           max_value  min_value
Category
A                20         10
B                40         30

In [10]:
# Example 39: Pandas - Pivoting with fill_value
import pandas as pd

# Creating a DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-01', '2023-01-02'],
        'City': ['NY', 'NY', 'LA', 'LA'], 'Sales': [200, 250, 300, None]}
df = pd.DataFrame(data)

# Pivoting with fill_value
pivot_df = df.pivot(index='Date', columns='City', values='Sales').fillna(0)

print('Pivoted DataFrame with fill_value:\n', pivot_df)

Pivoted DataFrame with fill_value:
 City           LA     NY
Date
2023-01-01  300.0  200.0
2023-01-02    0.0  250.0

In [11]:
# Example 40: Pandas - Using drop_duplicates() for Unique Rows
import pandas as pd

# Creating a DataFrame with duplicate rows
data = {'Name': ['Alice', 'Bob', 'Alice', 'Charlie'], 'Score': [85, 70, 85, 95]}
df = pd.DataFrame(data)

# Dropping duplicate rows
unique_df = df.drop_duplicates()

print('DataFrame after Dropping Duplicates:\n', unique_df)

DataFrame after Dropping Duplicates:
       Name  Score
0    Alice     85
1      Bob     70
3  Charlie     95

In [12]:
# Example 41: Pandas - Combining DataFrames with Multi-level Indexes
import pandas as pd

# Creating DataFrames with MultiIndex
arrays = [['A', 'A', 'B', 'B'], [2020, 2021, 2020, 2021]]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'Year'))
data1 = [100, 150, 200, 250]
df1 = pd.DataFrame(data1, index=index, columns=['Sales'])

data2 = [300, 400, 500, 600]
df2 = pd.DataFrame(data2, index=index, columns=['Profit'])

# Combining DataFrames
combined_df = pd.concat([df1, df2], axis=1)

print('Combined DataFrame with Multi-level Indexes:\n', combined_df)

Combined DataFrame with Multi-level Indexes:
                Sales  Profit
Category Year
A        2020    100     300
         2021    150     400
B        2020    200     500
         2021    250     600

In [13]:
# Example 42: Pandas - Using rolling() with Custom Functions
import pandas as pd

# Creating a time series DataFrame
date_range = pd.date_range(start='2023-01-01', periods=10, freq='D')
data = {'Values': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}
df = pd.DataFrame(data, index=date_range)

# Applying a custom function with rolling()
df['Rolling Sum'] = df['Values'].rolling(window=3).apply(lambda x: x.sum() if x.sum() > 50 else 0)

print('DataFrame with Custom Rolling Sum:\n', df)

DataFrame with Custom Rolling Sum:
             Values  Rolling Sum
2023-01-01      10          NaN
2023-01-02      20          NaN
2023-01-03      30         60.0
2023-01-04      40         90.0
2023-01-05      50        120.0
2023-01-06      60        150.0
2023-01-07      70        180.0
2023-01-08      80        210.0
2023-01-09      90        240.0
2023-01-10     100        270.0

In [14]:
# Example 43: Pandas - Using pivot_table with Multiple Indexes
import pandas as pd

# Creating a DataFrame
data = {'City': ['NY', 'LA', 'NY', 'SF', 'LA'], 'Year': [2020, 2020, 2021, 2021, 2020], 'Sales': [100, 150, 200, 250, 300]}
df = pd.DataFrame(data)

# Creating a pivot table with multiple indexes
pivot_table = pd.pivot_table(df, values='Sales', index=['City', 'Year'], aggfunc='sum')

print('Pivot Table with Multiple Indexes:\n', pivot_table)

Pivot Table with Multiple Indexes:
            Sales
City Year
LA   2020    450
NY   2020    100
     2021    200
SF   2021    250

In [15]:
# Example 44: Pandas - Resampling with Different Aggregations
import pandas as pd

# Creating a time series DataFrame
date_range = pd.date_range(start='2023-01-01', periods=30, freq='D')
data = {'Sales': range(30)}
df = pd.DataFrame(data, index=date_range)

# Resampling with different aggregations
resampled_df = df.resample('W').agg({'Sales': ['sum', 'mean', 'max']})

print('Resampled DataFrame with Different Aggregations:\n', resampled_df)

Resampled DataFrame with Different Aggregations:
            Sales
             sum  mean max
2023-01-01     0   0.0   0
2023-01-08    28   4.0   7
2023-01-15    77  11.0  14
2023-01-22   126  18.0  21
2023-01-29   175  25.0  28
2023-02-05    29  29.0  29

In [16]:

# Example 45: Pandas - Setting and Resetting Indexes
import pandas as pd

# Creating a DataFrame
data = {'City': ['NY', 'LA', 'SF'], 'Year': [2020, 2021, 2021], 'Sales': [100, 200, 300]}
df = pd.DataFrame(data)

# Setting an index
df.set_index('City', inplace=True)

print('DataFrame after Setting Index:\n', df)

# Resetting the index
df.reset_index(inplace=True)

print('DataFrame after Resetting Index:\n', df)

DataFrame after Setting Index:
       Year  Sales
City
NY    2020    100
LA    2021    200
SF    2021    300
DataFrame after Resetting Index:
   City  Year  Sales
0   NY  2020    100
1   LA  2021    200
2   SF  2021    300

In [17]:
# Example 46: Pandas - Working with Time Zones
import pandas as pd

# Creating a time series with a timezone
date_range = pd.date_range(start='2023-01-01', periods=5, freq='D', tz='UTC')
data = {'Sales': [100, 200, 150, 300, 250]}
df = pd.DataFrame(data, index=date_range)

# Converting to a different timezone
df = df.tz_convert('US/Eastern')

print('Time Series DataFrame with Time Zones:\n', df)

Time Series DataFrame with Time Zones:
                            Sales
2022-12-31 19:00:00-05:00    100
2023-01-01 19:00:00-05:00    200
2023-01-02 19:00:00-05:00    150
2023-01-03 19:00:00-05:00    300
2023-01-04 19:00:00-05:00    250

In [18]:
# Example 47: Pandas - Using pd.cut for Binning Data
import pandas as pd

# Creating a DataFrame
data = {'Scores': [50, 60, 70, 80, 90, 100]}
df = pd.DataFrame(data)

# Binning the scores into categories
df['Grade'] = pd.cut(df['Scores'], bins=[0, 59, 69, 79, 89, 100], labels=['F', 'D', 'C', 'B', 'A'])

print('DataFrame with Binned Scores:\n', df)

DataFrame with Binned Scores:
    Scores Grade
0      50     F
1      60     D
2      70     C
3      80     B
4      90     A
5     100     A

In [19]:
# Example 48: Pandas - Detecting and Replacing Outliers
import pandas as pd
import numpy as np

# Creating a DataFrame
data = {'Values': [10, 12, 14, 100, 15, 13, 12]}
df = pd.DataFrame(data)

# Detecting outliers using the IQR method
Q1 = df['Values'].quantile(0.25)
Q3 = df['Values'].quantile(0.75)
IQR = Q3 - Q1
outliers = (df['Values'] < (Q1 - 1.5 * IQR)) | (df['Values'] > (Q3 + 1.5 * IQR))

# Replacing outliers with the median
df.loc[outliers, 'Values'] = df['Values'].median()

print('DataFrame after Replacing Outliers:\n', df)

DataFrame after Replacing Outliers:
    Values
0      10
1      12
2      14
3      13
4      15
5      13
6      12

In [20]:
# Example 49: Pandas - Using DataFrame.eval for Efficient Calculations
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

# Using eval for calculations
df['C'] = df.eval('A + B * 2')

print('DataFrame with Evaluated Calculations:\n', df)

DataFrame with Evaluated Calculations:
    A  B   C
0  1  5  11
1  2  6  14
2  3  7  17
3  4  8  20

In [21]:
# Example 50: Pandas - Applying Functions to Grouped Data
import pandas as pd

# Creating a DataFrame
data = {'Team': ['A', 'A', 'B', 'B', 'C'], 'Points': [10, 15, 20, 25, 30]}
df = pd.DataFrame(data)

# Applying a function to grouped data
grouped_df = df.groupby('Team')['Points'].transform(lambda x: x / x.max())

print('DataFrame with Applied Functions to Grouped Data:\n', df)

DataFrame with Applied Functions to Grouped Data:
   Team  Points
0    A      10
1    A      15
2    B      20
3    B      25
4    C      30

In [22]:
grouped_df

0    0.666667
1    1.000000
2    0.800000
3    1.000000
4    1.000000
Name: Points, dtype: float64

In [23]:
# Example 51: Pandas - Using df.apply with Axis Parameter
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Applying a function to rows and columns using the axis parameter
row_sum = df.apply(lambda x: x.sum(), axis=1)
col_sum = df.apply(lambda x: x.sum(), axis=0)

print('Row-wise Sum:\n', row_sum)
print('Column-wise Sum:\n', col_sum)

Row-wise Sum:
 0    5
1    7
2    9
dtype: int64
Column-wise Sum:
 A     6
B    15
dtype: int64

In [24]:
# Example 52: Pandas - Merging with Indicator for Tracking Source
import pandas as pd

# Creating two DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [3, 4, 5], 'Name': ['Charlie', 'David', 'Edward']})

# Merging with indicator to track the source
merged_df = pd.merge(df1, df2, on='ID', how='outer', indicator=True)

print('Merged DataFrame with Indicator:\n', merged_df)

Merged DataFrame with Indicator:
    ID   Name_x   Name_y      _merge
0   1    Alice      NaN   left_only
1   2      Bob      NaN   left_only
2   3  Charlie  Charlie        both
3   4      NaN    David  right_only
4   5      NaN   Edward  right_only

In [25]:

# Example 53: Pandas - Creating Time Series with Business Days
import pandas as pd

# Creating a time series with business days only
date_range = pd.date_range(start='2023-01-01', periods=10, freq='B')
data = {'Sales': range(10)}
df = pd.DataFrame(data, index=date_range)

print('Time Series DataFrame with Business Days:\n', df)

Time Series DataFrame with Business Days:
             Sales
2023-01-02      0
2023-01-03      1
2023-01-04      2
2023-01-05      3
2023-01-06      4
2023-01-09      5
2023-01-10      6
2023-01-11      7
2023-01-12      8
2023-01-13      9

In [26]:
# Example 54: Pandas - Applying Multiple Functions with Groupby
import pandas as pd

# Creating a DataFrame
data = {'Category': ['A', 'A', 'B', 'B'], 'Value': [10, 20, 30, 40]}
df = pd.DataFrame(data)

# Applying multiple functions with groupby
grouped_df = df.groupby('Category')['Value'].agg(['mean', 'sum', 'max'])

print('Grouped DataFrame with Multiple Functions:\n', grouped_df)

Grouped DataFrame with Multiple Functions:
           mean  sum  max
Category
A         15.0   30   20
B         35.0   70   40

In [27]:
# Example 55: Pandas - Using df.pivot with MultiIndex Columns
import pandas as pd

# Creating a DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-01', '2023-01-02'],
        'City': ['NY', 'NY', 'LA', 'LA'], 'Type': ['Online', 'Store', 'Online', 'Store'], 'Sales': [200, 250, 300, 350]}
df = pd.DataFrame(data)

# Pivoting to create a DataFrame with MultiIndex columns
pivot_df = df.pivot(index='Date', columns=['City', 'Type'], values='Sales')

print('Pivoted DataFrame with MultiIndex Columns:\n', pivot_df)

Pivoted DataFrame with MultiIndex Columns:
 City           NY            LA
Type       Online  Store Online  Store
Date
2023-01-01  200.0    NaN  300.0    NaN
2023-01-02    NaN  250.0    NaN  350.0

In [28]:
# Example 56: Pandas - Stacking and Unstacking DataFrames
import pandas as pd

# Creating a DataFrame
data = {'City': ['NY', 'LA'], '2020': [100, 150], '2021': [200, 250]}
df = pd.DataFrame(data).set_index('City')

# Stacking and unstacking the DataFrame
stacked_df = df.stack()
unstacked_df = stacked_df.unstack()

print('Stacked DataFrame:\n', stacked_df)
print('Unstacked DataFrame:\n', unstacked_df)

Stacked DataFrame:
 City
NY    2020    100
      2021    200
LA    2020    150
      2021    250
dtype: int64
Unstacked DataFrame:
       2020  2021
City
NY     100   200
LA     150   250

In [29]:
# Example 57: Pandas - Using ffill and bfill for Missing Values
import pandas as pd
import numpy as np

# Creating a DataFrame with missing values
data = {'A': [1, np.nan, 3], 'B': [4, 5, np.nan]}
df = pd.DataFrame(data)

# Using ffill and bfill to fill missing values
df_ffill = df.fillna(method='ffill')
df_bfill = df.fillna(method='bfill')

print('DataFrame with Forward Fill:\n', df_ffill)
print('DataFrame with Backward Fill:\n', df_bfill)

DataFrame with Forward Fill:
      A    B
0  1.0  4.0
1  1.0  5.0
2  3.0  5.0
DataFrame with Backward Fill:
      A    B
0  1.0  4.0
1  3.0  5.0
2  3.0  NaN

C:\Users\user\AppData\Local\Temp\ipykernel_14384\1026407949.py:10: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill')
C:\Users\user\AppData\Local\Temp\ipykernel_14384\1026407949.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')

In [30]:
# Example 58: Pandas - Using melt() to Reshape Data
import pandas as pd

# Creating a DataFrame
data = {'ID': [1, 2], 'Math': [90, 80], 'Science': [85, 88]}
df = pd.DataFrame(data)

# Melting the DataFrame
melted_df = pd.melt(df, id_vars=['ID'], var_name='Subject', value_name='Score')

print('Melted DataFrame:\n', melted_df)

Melted DataFrame:
    ID  Subject  Score
0   1     Math     90
1   2     Math     80
2   1  Science     85
3   2  Science     88

In [31]:
# Example 59: Pandas - Using shift() for Time Series Analysis
import pandas as pd

# Creating a time series DataFrame
date_range = pd.date_range(start='2023-01-01', periods=5, freq='D')
data = {'Sales': [200, 250, 300, 350, 400]}
df = pd.DataFrame(data, index=date_range)

# Shifting the data to create a lags

df['Previous Day Sales'] = df['Sales'].shift(1)

print('DataFrame with Shifted Time Series Data:\n', df)

DataFrame with Shifted Time Series Data:
             Sales  Previous Day Sales
2023-01-01    200                 NaN
2023-01-02    250               200.0
2023-01-03    300               250.0
2023-01-04    350               300.0
2023-01-05    400               350.0

In [32]:
# Example 60: Pandas - Creating Custom Indexes with MultiIndex
import pandas as pd

# Creating a MultiIndex from tuples
index = pd.MultiIndex.from_tuples([('A', 2020), ('A', 2021), ('B', 2020), ('B', 2021)], names=['Category', 'Year'])
data = [100, 150, 200, 250]
df = pd.DataFrame(data, index=index, columns=['Sales'])

print('DataFrame with Custom MultiIndex:\n', df)

DataFrame with Custom MultiIndex:
                Sales
Category Year
A        2020    100
         2021    150
B        2020    200
         2021    250